# Retable API Key to fetch PM and SWO data
RETABLE_API_KEY=
GEMINI_API_KEY=

# Cloudflare D1 Database Integration (Fallback automatique en cas de quota Firestore)
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_API_TOKEN=
